* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.sidebar {
  width: 80px;
  background-color: #0b0e11;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.logo {
  margin-bottom: 2rem;
  margin-top: 10px;
  margin-left: 15px;
}
.nav-links {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  gap:50px;
  align-items: center;
}
.ff-articulat {
  font-family: "Articulat CF";
}
@font-face {
  font-family: "Articulat CF";
  src: url(../fonts/Fontspring-DEMO-articulatcf-bold-BF64a38d89ce81e.otf) format("truetype");
}
.nav-links a {
  text-decoration: none;
  transition: color 0.3s;
  font-family: "Articulat CF";
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.6;
}
.nav-links a.active,
.nav-links a:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: underline;
}
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #1c1c1c, #0a0a0a);
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.icons {
  position: absolute;
  top: 30px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icon {
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.24);
  width: 36px;
  height: 36px;
  border-radius: 20px;
  cursor: pointer;
}
.icon:hover {
  background: rgba(217, 217, 217, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.about {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #0f1e26;
}
.about-text {
  flex: 1 1 500px;
  margin-left: 10%;
}
.about-text h2 {
  font-family: "Articulat CF";
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  color: #ffffff;
  margin-bottom: 1rem;
}
.about-text h3 {
  margin-top: 1rem;
  font-family: "Articulat CF";
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.about-text p {
  width: 477px;
  font-family: "Articulat CF";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 0.5rem;
}
.logo-section {
  flex: 1 1 300px;
}
.story {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.bg-image {
  background-image: url(/assets/images/brand.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.text-content {
  padding: 300px;
  margin-left: 100px;
}
.text-content h2 {
  margin-bottom: 30px;
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}
.text-content p {
  width: 700px;
  height: 78px;
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
.application {
  display: flex;
  align-items: center;
  min-height: 50vh;
  background: rgba(20, 43, 56, 0.7);
  background-image: url(/assets/images/AboutUs.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.application-heading {
  margin-bottom: 100px;
}

.application-heading h2 {
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  color: #fafafa;
  margin-bottom: 200px;
}
.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-left: -30%;
}
.benefit {
  padding: 40px;
}
.benefit h3 {
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #fafafa;
  margin-bottom: 20px;
}
.benefit p {
  width: 450px;
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #fafafa;
  opacity: 0.7;
}
.contact {
  display: flex;
  align-items: center;
  min-height: 50vh;
  background-image: url(/assets/images/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer {
  background-color: #0f1e26;
  padding: 40px 20px 20px;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-logo {
  flex: 1 1 250px;
}

.footer-logo p {
  margin-top: 20px;
  width: 380px;
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}
.footer-links,
.footer-contact {
  flex: 1 1 200px;
}
.footer-links h4,
.footer-contact h4 {
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li,
.footer-contact li {
  margin-bottom: 10px;
  font-family: "Articulat CF";
  font-style: normal;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 70%;
}
.footer-links li:hover {
  color: #ffffff;
}

.donate-btn {
  display: inline-block;
  background-color: #9a0000;
  color: #f2f7f9;
  padding: 14px 32px;
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 34px;
  margin-top: 10px;
  cursor: pointer;
}
.donate-btn:hover {
  background-color: #7a0000;
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  font-family: "Articulat CF";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fefefe;
  opacity: 0.7;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .application h2 {
    font-size: 2rem;
  }

  .benefit {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .logo-large {
    font-size: 4rem;
  }

  .logo-small {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    transform: none;
  }

  .nav-links {
    writing-mode: horizontal-tb;
    transform: none;
    flex-direction: row;
    gap: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .card {
    padding: 1.5rem 2rem;
  }
}
